<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-gb" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="A block explorer for Nexus (NXS).">
    <meta name="Keywords" content="Nexus, Cryptocurrency, Block, Explorer, Blockchain, Transaction, Address">

    <link rel="stylesheet" href="~/css/main.css" />

    <script src="~/js/runtime.js"></script>
    <script src="~/js/vendor.js"></script>
    
    @(await RenderSectionAsync("Head", false))

    <title>@ViewData["Title"]</title>
</head>
<body>
<div id="body">
    @RenderBody()
</div>

<script src="~/js/main.js"></script>
<script type="text/javascript">
</script>
    
@(await RenderSectionAsync("Scripts", false))
</body>
</html>