<html>
<head>
    <link rel="stylesheet" href="~/css/main.css" />

    <script src="~/js/runtime.js"></script>
    <script src="~/js/vendor.js"></script>
    <script src="~/js/main.js"></script>

    <title>@ViewData["Title"]</title>
</head>
<body>
    @RenderBody()
</body>
</html>
