@model DotNexus.App.Models.BlockchainBlocksViewModel

@{
    ViewData["Title"] = "Blocks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4">
    <h2>Blocks</h2>

    <div id="blockTable" style="margin-top: 15px;" v-cloak>
        <table class="table table-hover" style="border: 0;">
            <thead>
            <tr>
                <th>Height</th>
                <th>Channel</th>
                <th class="d-none d-sm-table-cell">Size</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="block in latestBlocks" v-on:click="selectRow('/blocks/' + block.height)" style="cursor: pointer;">
                <td><a v-bind:href="'/block/' + block.height">{{ block.height.toLocaleString() }}</a></td>
                <td>{{ $layout.parseBlockChannel(block.channel) }}</td>
                <td class="d-none d-sm-table-cell">{{ $layout.parseBytes(block.size) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/blockchain.blocks.js"></script>
    <script type="text/javascript">
        window.vm = new dotnexus.BlockchainBlocks({
            latestBlocks: @Json.Serialize(Model.LatestBlocks)
        });
    </script>
}

