@model DotNexus.App.Models.BlockchainBlocksViewModel

@{
    ViewData["Title"] = "Blocks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4">
    <h2>Blocks</h2>

    <block-table id="blockTable" ref="blockTable" :options="dtOptions">
        <template #dt="slotProps">
            <div class="row dt-row">
                <div class="col-5 col-lg-1 order-1">
                </div>
                <div class="col-4 col-sm-3 col-lg-1 order-2">
                </div>
                <div class="col-12 col-lg-7 order-12 order-lg-3">
                </div>
                <div class="col-4 text-right order-12 order-sm-4">
                </div>
            </div>

            <div v-if="slotProps.dt.tableData.totalItems === 0" class="text-center">
                <hr />
                There are no results
                <hr />
            </div>
            <div v-else v-for="(row, i) in slotProps.dt.tableData.pageItems" :class="(i + 1) % 2 === 0 ? 'row dt-row' : 'row dt-row odd-row'">
                <div class="col-2 col-lg-1 order-2">
                    {{row.height}}
                </div>
                <div class="col-4 col-sm-4 col-lg-2 order-3">
                    {{row.time}}
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-3">
                    <a class="text-break" :href="`/block/${row.hash}`">{{row.hash}}</a>
                </div>
                <div class="col-2 col-lg-1 text-right order-4 order-sm-4">
                    {{row.size}}
                </div>
                <div class="col-4 col-lg-2 text-right order-5 order-sm-5 text-break">
                    {{row.difficulty.toFixed(8)}}
                </div>
            </div>
        </template>
    </block-table>
</div>

@section Scripts {
    <script type="text/javascript">
        window.vm = new dotnexus.BlockchainBlocks({
            latestBlocks: @Json.Serialize(Model.LatestBlocks)
        });
    </script>
}

