@using DotNexus.App.Models
@model DotNexus.App.Models.CreateAccountViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4">
    <div class="offset-sm-3 offset-lg-4 col-sm-6 col-lg-4">
        <h1 class="mb-3">Create account</h1>

        @{ await Html.RenderPartialAsync("_Create", Model); }
    </div>
</div>