@model DotNexus.App.Controllers.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4">
    <div class="offset-sm-3 offset-lg-4 col-sm-6 col-lg-4">
        <h1 class="mb-3">Login</h1>

        @{ await Html.RenderPartialAsync("_Login", Model); }
    </div>
</div>

