@using Newtonsoft.Json
@model DotNexus.App.Models.AssetDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

@JsonConvert.SerializeObject(Model.AssetInfo)
@JsonConvert.SerializeObject(Model.AssetHistory)

